{% extends 'S_LMS/base.html' %}
  

{%block content%}

<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="{{ auth0User.extra_data.picture }}" alt="John" style="width:100%">
  <h1>{{ user.first_name }}</h1>
  <p class="title">CEO & Founder, Example</p>
  <p> Email : {{user.email}}</p>
  <div style="margin: 12px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact</button></p>
</div>




{% endblock %} 